astroid==2.4.2
click==7.1.2
colorama==0.4.3
dnspython==2.0.0
email-validator==1.1.1
fastapi==0.61.1
h11==0.9.0
idna==2.10
isort==5.5.3
lazy-object-proxy==1.4.3
mccabe==0.6.1
pydantic==1.6.1
pylint==2.6.0
six==1.15.0
starlette==0.13.6
toml==0.10.1
typed-ast==1.4.1
uvicorn==0.11.8
websockets==8.1
wrapt==1.12.1
motor==2.2.0